.img_content {
  width: 100%;
  height: 100%;
}

.b_img{
  display: block;
  overflow: hidden;
}
.b_bord{
  background-color: #edeeee;
  display: block;
  width: 100%;
}

.flex-container{
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row nowrap;
  flex-direction: column;
}
.row_flex{
  margin-bottom: 2%;
}
.row_flex{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;

  flex-direction: row;
  display: flex;
  justify-content: center;
  -ms-flex-direction: row;
}

.well_list{
  width: 100%;
  flex-direction: column;
  display: flex;
}

.well_post{
  display: block;
  position: relative;
  width: 100%;
}

.well_a{
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.r_w{
  margin-right: 2%;
}